= render "layouts/header"
#wrapper
  #top
    #content
      .content-inner
        .user_profile
          .profile_header
            %table
              %tr
                %td.selfimgprofile
                  %a
                    %img{src: "https://s3-ap-northeast-1.amazonaws.com/image-upload-wango/uploads/wango_logo/image/wango_logo.png", width: "80px", height: "80px"}
                    .user_image
                %td.profile_name
                  %h1
                    %span
                      #{current_user.name}さんのマイページ
                %td.profile_edit_button
                  %h1
                    =link_to '/users/:user_id/edit', method: :get do
                      プロフィール編集
          .profile_list
            %table
              %tr
                %td.item_name
                  ユーザー名
                -if current_user.name
                  %td.user_status
                    =current_user.name
                -else
                  %td.user_status
                    登録されていません。
              %tr
                %td.item_name
                  メールアドレス
                -if current_user.email
                  %td.user_status
                    =current_user.email
                -else
                  %td.user_status
                    登録されていません。
              %tr
                %td.item_name
                  性別
                -if current_user.sex
                  %td.user_status
                    =current_user.sex
                -else
                  %td.user_status
                    登録されていません。
              %tr
                %td.item_name
                  お住まい
                -if current_user.area
                  %td.user_status
                    =current_user.area
                -else
                  %td.user_status
                    登録されていません。
              %tr
                %td.item_name
                  自己紹介
                -if current_user.introduction
                  %td.user_status
                    =current_user.introduction
                -else
                  %td.user_status
                    登録されていません。
        .user_pet_information
          .pet_information_header
            %h2
              #{current_user.name}さんのペット
            %p.add_pet_button
              =link_to "/users/:user_id/dogs/new", method: :get do
                %span
                  ペットを追加
          -if current_user.dogs
            -@dogs.each do |dog|
              .pet_information_detail
                .pet_image
                  =image_tag "https://s3-ap-northeast-1.amazonaws.com/image-upload-wango/uploads/wango_logo/image/wango_logo.png", size: "80x80"
                .pet_detail_information
                  .pet_name_edit
                    %a= dog.name + "ちゃん"
                    =link_to "/users/#{current_user.id}/dogs/#{dog.id}/edit", method: :get do
                      編集
                  .pet_item_information
                    %dl
                      %dd= "年齢： " + dog.age.to_s + "歳 /"
                      %dd= "犬種： " + dog.type + " /"
                      %dd= "性別： " + dog.sex + " /"
                      %dd= "アレルギー： " + dog.allergy + " /"
                      %dd= "既往歴： " + dog.medicalhistory
          -else
            .pet_information_alert
              ペットは登録されていません。
