!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title ワンご
    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  = favicon_link_tag '/assets/favicon-c0a4617e81080a15c98167cc4e5352b06c8f0ff444c2f20e72062e08481f9db5.ico'
  %body
    = yield
