!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title ワンご

    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  = favicon_link_tag '/wango_logo-8245a94b0cccc96f4b1b871f886e4ad63abcb7d1109f581aad9b9edc313e9df9.png'
  %body
    = yield
